<% if message[:role] == :user %>
  <div class="mt-3 flex justify-end first:mt-0">
    <div class="chat-bubble-user w-fit max-w-[75%] [&_*]:text-inherit">
      <div class="assistant-content" data-markdown data-markdown-source="<%= message[:content] %>"></div>
    </div>
  </div>
<% else %>
  <div class="mt-3 flex first:mt-0">
    <div class="assistant-content chat-bubble-assistant w-fit max-w-[85%]">
      <div data-markdown data-markdown-source="<%= message[:content] %>"></div>
    </div>
  </div>
<% end %>
